#backup files 
*.bak

#folders
worldshape/
assets/
backup/
defaultconfigs/
libraries/
logs/
paintings/
patchouli_books/
runtime/
saves/
schematics/
screenshots/
server-resource-packs/
tlauncher_libraries/
versions/

#files 
BatMod.runtime
launcher_profiles.json
patchouli_data.json
servers.dat_old
sshcasa
sshcasa.pub
TempOptifineStore-1.0.json
TLauncher.exe
TlauncherProfiles.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
worlds.json